body {
    background-color:  #add8e6;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans 3', sans-serif;
    margin-top: 30px;
}
.tudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inicio {
    align-items: center;
    display: flex;
    justify-content: center;
}
.inicio h1 {
    color: #06063db5;
    font-size: 50px;
    font-weight: 600;
    padding: 70px 0 0 20px;
}
.inicio img {
    width: 150px;
}
.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.container label {
    color: #007fff;
    font-size: 32px;
    font-weight: 600;
}
.container input {
    border-color: #007fff;
    border-radius: 4px;
    color: #06063db5;
    font-size: 24px;
    font-weight: 600;
    height: 35px;
    text-align: center;
    width: 70px;
}
.container  button {
    background-color:#06063db5;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    height: 45px;
    margin-top: 10px;
    width: 100px;
}
.resultado {
    align-items: center;
    background-color: #007fff;
    border-radius: 4px;
    display: flex;
    height: 200px;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
.resultado span {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    padding: 10px; 
    text-align: center;
    width: 80%;
}
/*CONTEUDO*/
.conteudo {
    width: 50%;
    padding: 0 0 0 15px;
    margin: 60px 0 50px 0;
}
.container__conteudo {
    margin-top: 20px;
    width: 100%;
}
.container__conteudo h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}
.container__conteudo p {
    font-size: 22px;
    line-height: 30px;
}

/**/
.rodape {
    background-color: #06063db5;
    color: #fff;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.rodape div {
    position: relative;
    left: 380px;
}

.rodape p {
    text-align: center;
    position: absolute;
}
.rodape a {
    cursor: pointer;
}
.rodape img {
    margin-left: 5px;
    width: 30px;
}

/*Responsividade*/
@media screen and (max-width: 768px) {
    .tudo {
        width: 100%;
    }
    .calculadora {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .inicio {
        flex-direction: column;
    }
    .inicio h1 {
        padding: 0;
    }
    .container button {
        font-size: 22px;
        height: 50px;
        width: 120px;
    }
    .resultado span {
        padding: 0 30px;
    }
    .conteudo {
        width: 90%;
        margin-top: 105px;
    }
    .conteudo h1{
        font-size: 50px;
    }
    .conteudo p{
        font-size: 32px;
        line-height: 40px;
    }
    .rodape {
        display: flex;
        flex-direction: column;
        height: 120px;
    }
    .rodape p {
        font-size: 20px;
        margin-bottom: 25px;
    }
    .rodape div {
        top: 40px;
        left: -10px;
        margin-bottom: 10px;
    }
}